<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Ladybug</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Powered by Cadabra Systems LLC</string>
	<key>CFBundleIconFile</key>
	<string>${ASSETCATALOG_COMPILER_APPICON_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleName</key>
	<string>Ladybug</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${QMAKE_FULL_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>${QMAKE_PKGINFO_TYPEINFO}</string>
	<key>CFBundleVersion</key>
	<string>${QMAKE_FULL_VERSION}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>${IPHONEOS_DEPLOYMENT_TARGET}</string>
	<key>NSCameraUsageDescription</key>
	<string>Share photos with other users</string>
	<key>NSContactsUsageDescription</key>
	<string>Invite your friends</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We will share our record about your health with you</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We will take care of you</string>
	<key>NSLocationUsageDescription</key>
	<string>Share you location with other users</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Share you location </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Share you location </string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Send us your voice messages</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Share you pictures with other users</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LadybugLauncher</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Inter.Variable.ttf</string>
	</array>
</dict>
</plist>
